
.img-fluid   {
<<<<<<< HEAD
  background-size: cover;
  background-position: 50%;
  height: 300px;
  width: 300px;
  margin: 2px;
  border: 10px solid #ffffb2;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;
  background-color: rgb(245, 245, 248);
=======
 background-size: cover;
 background-position: 50%;
 height: 300px;
 width: 300px;
 margin: 2px;
 border: 10px solid #F8DDA6;
 border-radius: 3px;
 -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
 box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
 cursor: pointer;
 background-color: rgb(245, 245, 248);
>>>>>>> 70740c726ef00b9344b7d7883736a944f8fb4b53
}
.recipeimage{
    height: 90%;
    width: 90%;
    border:10px solid #F8DDA6 ;
 border-radius: 3px;
 -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
 box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
 cursor: pointer;
 background-color: rgb(245, 245, 248);
}

