<<<<<<< HEAD
.bg-clr{
	background-color: green;
}
.fnt{
	font-family: 'Russo One', sans-serif;
}
.sz{
	color: white;
=======
bg-clr {
    background-color: green;
}
.fnt {
    font-family: 'Russo One', sans-serif;
    color: white;
}
.sz {
    color: white;
}
nav{
    background-color: green;
}
a.nav-link{
    color: white;
>>>>>>> 70740c726ef00b9344b7d7883736a944f8fb4b53
}