#recipe-detail-container {
    max-width: 1200px;
    height: auto;
    margin-top: 3%;
}

#recipe-detail-description {
    text-align: center
}

#recipe-detail-title {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 10px;
    padding-right: 40px;
}

#save-recipe-button {
    background-color: #515b6d;
    display: inline-block;
    width: 160px;
    margin-top: 20px;
    color: #FFF;
    border-radius: 6px;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}

#save-recipe-button:active {
    outline: none;
    border: none;
}

#save-recipe-button:focus {
    outline: none;
}

#recipe-detail-servings {
    margin-top: 20px;
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 1.7em;
}

#recipe-detail-calories {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 1.7em;
}

#recipe-detail-source {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 1.5em;
    /*text-decoration: underline;*/
    margin-bottom: 40px;
}

#recipe-detail-image {
    zoom: 2;
    float: right;
}

#ingredient-list li {
    list-style: none;
    text-align: left;
    margin-left: 0;
    font-size: 1.7em;
    padding-left: 0;
}

li {
    font-size: 1.2em;
}

#nutrition-labels {
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 60px;
}

#nutrition-labels p {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 1.5em;
}

#diet-labels {
    /* margin-right: 100px; */
}

#diet-labels li {
    list-style: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

#health-labels {
    /* float: left; */
}

#health-labels li {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    font-size: 20px
}

p {}

.text-center {
    text-align: center!important;
}

*:focus,
*:active,
button:active,
button:focus,
input:focus,
input:active {
    -moz-outline-style: none;
    outline: none;
    outline: 0;
}

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 55%;
    top: 0%;
    border: none;
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
}

.heart:hover {
    background-position: -2000px -10px;
    transition: background 1s steps(28);
    border: none;
}

@keyframes fave-heart {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2800px 0;
    }
}

#IngredientLines {
    overflow: hidden
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

#commentid {
    text-align: initial;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #BB1B89
}

#comment {
    text-align: initial
}

i.fa fa-cutlery {
    color: whitesmoke;
}
